/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

.splash-logo-container {
  display: flex;
  justify-content: center;
  top: 100px;
  position: absolute;
  width: 100%;
  height: 600px;
}

.splash-image-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100px;
  z-index: -100;
}

.splash-image {
  position: absolute;
  filter: brightness(40%);
  height: 100%;
  width: 100%;
  object-fit: none;
}

.splash-logo-link{
display: flex;
justify-content: center;
width: 13%;
opacity: 1;
height: 180px;
}

.splash-logo {
  min-width: 180px;
  height: 180px;
  border: 1px solid white;
  border-radius: 11px;
  background-color: rgba(255, 255, 255, .9);
}

.splash-logo-container .search-bar-container {
  position: absolute;
  top: 200px;
}

.login-page-container {
display: flex;
justify-content: center;
align-items: center;
}

.login-logo-container {
  display: flex;
  justify-content: center;
  top: 0;
  position: absolute;
  background-color: aqua;
  width: 100%;
  height: 10%;
  min-height: 71.19px;
  min-width: 71.19px
}

.login-logo-link{
display: flex;
justify-content: center;
height: 71.19px;
width: 71.19px;
}

.login-logo {
  min-height: 71.19px;
  min-width: 71.19px;
}

.login-box {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
}

.login-image {
  max-width: 300px;
  position: relative;
  z-index: -1;
}

.login-box, .login-image {
  top: 120px;
  margin: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-field-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  
  font-size: 14px;
}
.login-input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: rgb(232, 240, 254);
  height: 30px;
}

.login-prompt {
  align-self: center;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 22px;
  
}

.login-button-list {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.login-button-list button, .logout-bar button {
height: 40px;
font-weight: 900;
min-width: 80px;
/* padding: 0px 10px; */
border-radius: 4px;
border: 1px solid gray;
background-color: transparent;
}

.login-button-list a, .login-button-list .demo-login, .logout-bar button {
margin-left: 20px;
}

.login-button-list .demo-login {
  min-width: 108.5px;
  /* width: auto; */
}

.logout-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 16px 40px;
  /* width: 200px; */
}

.logout-bar div {
  align-self: center;
}

.signup-link button {
  background-color: aqua;
  color: indigo;
  border: 1px solid aqua;
}

.login-signup {
  position: relative;
  /* top: 13px; */
  /* width: 80%; */
  margin-right: 40px;
}

.login-prompt {
  color: indigo;
}

.session-submit {
  background-color: aqua;
  border: aqua;
  border-radius: 3px;
  min-height: 37px;
  color: indigo;
  font-weight: bold;
  
}

.switch-link {
  color: #0073bb;
  text-decoration: none;
}

.switch-message {
  color: #999;
  align-self: flex-end;
  font-size: 12px;
  margin-top: 8px;
  
}

button:hover {
  cursor: pointer;
}

.errors-list {
  position: absolute;
  list-style: none;
  width: 100%;
  /* left: 0; */
  display: flex;
  justify-content: flex-start;
}

.errors-list li{
  font-size: 13px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 3px ;
  height: 28px;
  background-color: white;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 155px;
}
.username-error {
  left: 0px;
  top: 35px;
}
.email-error{
  left: 0px;
  top: 110px;
}

.password-error {
  width: 320px;
  left: 0px;
  top: 260px;
}

.location-error {
  left: 0px;
  top: 185px;
}

.login-error-container {
  position: absolute;
  display: flex;
  width: 300%;
  justify-content: center;
  align-self: flex-start;
  list-style: none;
  top: -130px;
  left: -155px;
}

.login-error {
  margin: auto;
  background-color: #ffd2d2;
  position: relative;
  height: 50px;
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  border-radius: 3px;
  font-size: 15px;
}

.business-index-list {
  display: flex;
}

.show-page-container {
  width: 100%;
}

.show-page-top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 140px;
  border-bottom: 1px solid lightgray;
}

.show-page-top-header div {
  position: relative;
  top: -10%;
}

.show-page-logo-container {
  height: 71.19px;
  width: 71.19px;
  left: 2%;
  position: relative;
}
.show-page-logo-link {
  position: relative;
  
  height: 71.19px;
  width: 71.19px;
}

.non-frontpage-login {
  position: relative;
  min-width: 420px;
  max-width: 420px;
  /* top: -8%; */
}

.non-frontpage-login .login-button-list {
  justify-content: flex-end;
}

.demo-login {
  width: 120.5px;
}


.show-page-header-info-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  min-width: 764px;
  padding: 0;
  align-items: center;
  margin: auto;
  left: 0px;
}

.show-page-header-info-list li {
  margin-left: auto;
  margin-right: auto;
  
}

.show-page-biz-header {
  position: relative;
  height: 430px;
  color: white;
  display: block;
  /* justify-content: center; */
  /* max-width: 1500px; */
  /* min-width: 1500px; */
  margin: auto;
  left: 0;
  overflow: hidden;
}
.show-page-header-info {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 764px;
  justify-self: center;
  margin: auto;
}
.show-page-header-photos {
  position: absolute;
  margin-left: auto;
  /* left: 40px; */
  height: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  filter: brightness(60%);
  object-fit: none;
}

.biz-photo-banner {
  display: flex;
  height: 100%;
  overflow: hidden;
  /* max-width: 1000px; */
  /* justify-content: flex-end; */
}

/* .show-page-photo-col {
  height: 100%;
  width: 100%;
} */

.show-page-header-photos img{
  position: relative;
  /* display: block; */
  width: 100%;
  /* min-width: 100%; */
  height: 100%;
  /* margin: auto; */
  /* left: 100px; */
  object-fit: cover;
}

.show-page-name {
  position: relative;
  font-size: 50px;
  font-weight:bolder;
  top: 44%;
  /* left: 7.5%; */
  width: 764px;
}

.show-page-rating {
  position: relative;
  top: 44%;
  /* left: 7.5%; */
  display: flex;
  width: 764px;
}

.show-page-stars  {
  width: 176px;
}

.show-page-review-numbers {
  font-weight: 900;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.show-page-content {
  width: 50%;
  min-width: 764px;
  margin: auto;
 
}

.show-page-reviewbar {
  margin-top: 25px;
  margin-bottom: 40px;
}

.show-page-reviewbar button {
  height: 40px;
  color: indigo;
  background-color: aqua;
  border: 1px solid aqua;
  border-radius: 4px;
  font-weight: 900;
  width: auto;
  padding: 0px 10px;
}

.show-page-update-review {
  margin-right: 10px;
}

.show-page-location-container {
  height: 140px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 30px;
}
.show-page-location-header {
  position: relative;
  font-size: 22px;
  font-weight: 900;
}

.show-page-address {
  top: 20px;
  position: relative;
  font-size: 15px;
  font-weight: 900;
}

.show-page-reviews {
  padding-top: 30px;
}

.recommended-reviews {
  position: relative;
  font-size: 22px;
  font-weight: 900;
}

.hot-businesses {
  position: relative;
  /* top: 255px; */
  width: 400px;
  margin: auto;
  /* margin-left: 280px; */
  color: indigo;
  font-weight: 900;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.frontpage-business-index {
  position: relative;
  display: flex;
  top: 600px;
  width: 1000px;
  margin: auto;
  justify-content: center;
}


.business-index-list {

  display: flex;
  flex-direction: column;
  top: 275px;
  list-style: none;
  width: 80%;
  padding: 0;
}
.business-index-link {
  text-decoration: none;
}
.business-index-item {
  margin-bottom: 20px;
  width: 700px;
  height: 250px;
  border: 1px solid lightgray;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.business_index_image_container {
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-item-image {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 4px;
  /* overflow: hidden; */
}
.business-index-item-info {
  position: relative;
  width: 550px;
  left: 250px;
  top: 25px;
  display: flex;
  flex-direction: column;
}
.business-item-name {
  font-weight: 900;
  font-size: 20px;
  color: black;
}

.business-item-address-container {
  position: absolute;
  right: 100px;
  margin-right: 20px;
  align-self: flex-end;
  width: 100px;
  height: 100px;
}

.business-item-address {
  color: gray;
  font-size: 13px;
}

.business-item-rating {
  margin-top: 5px;
  width: 108px;
}

.business-item-cat {
  position: relative;
  color: gray;
  font-size: 15px;
  margin-top: 5px;
  
} 

.bikini {
  display: none;
}

.frontpage-business-index .business-index {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.frontpage-business-index .business-index-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.frontpage-business-index .business-index-item {
  height: 320px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.frontpage-business-index .business_index_image_container {
  width: 300px;
  height: 180px;
  /* background-color: purple; */
}

.frontpage-business-index .business-item-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  right: 1px;
}

.frontpage-business-index .business-index-item-info {
  left: 10px;
  top: 190px;
  width: 100%;
}

.frontpage-business-index .business-item-name {
  font-size: 17px;
}

.frontpage-business-index .business-item-cat {
  color: black;
  width: 100%;
}

.frontpage-business-index .business-item-address {
  display: none;
  
}

.frontpage-business-index .bikini {
  display: block;
  color: black;
  font-size: 15px;
}

.header-box .login-button-list{
  position: relative;
  top: 20px;
  /* right: -9.3%; */
}

.header-box .logout-bar {
  position: relative;
  top: 20px;
}

.header-box .login-button {
  color: white;
}

.header-box .demo-login , .header-box .logout-button, .header-box div {
  color: white;
}

.review-item-container {
  margin: 35px 0px;

}

.review-header-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.review-header-profile {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.review-header-profile img {
  height: 64px;
  width: 64px;
}

.review-header-info {
  margin-left: 10px;
}

.review-header-name {
  font-weight: 900;
  font-size: 17px;

}

.review-header-link {
  text-decoration: none;
}

.review-header-location {
  font-size: 14px;
  font-weight: 200;
}

.review-rating-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.review-item-stars {
  height: 20px;
  margin-right: 7px;
}

.review-item-date {
  color: gray;
  font-size: 14px;
}

.review-body-container {
  font-family: 'Bitter', serif;
  font-size: 15px;
  font-weight: 100;
}

.review-photos-container {
  /* max-height: 200px; */
  display: flex;
}

.review-photos-container img {
  max-width: 200px;
}
.review-page-container .show-page-top-header{
  /* display: flex;
  flex-direction: column; */
  height: 100px;
  
}
.review-form-container {
  position: relative;
  margin: auto;
  width: 950px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* height: 500px; */
}

.review-form-business-name {
  font-weight: 900;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.review-form-box {
  width: 700px;
}

.review-form-main-container {
  border: 1px solid lightgray;
  border-radius: 4px;
  /* margin: 20px; */
}

.review-form-rating-container, .review-form-body {
  padding: 20px 20px 0px 20px;
}

.review-form-rating-container {
  display: flex;
  justify-content: baseline;
  height: 60px;
}
.review-form-stars-container {
  display: flex;
  justify-content: flex-start;
  width: 177.5px;
  height: 32px;
  /* margin-right: 100px; */
}
.review-form-clicked-stars, .review-form-hovered-stars {
  position: absolute;
  height: 32px;

}

.review-form-stars-container div {
  height: 32px;
  width: 35.5px;
  /* border: 1px solid green; */
  z-index: 1;
}

.review-form-stars-container:hover {
  cursor: pointer;
}

.review-form-hovered-stars {
  opacity: 0;
}

.review-form-stars-container:hover .review-form-clicked-stars {
  opacity: 0;
}

.review-form-stars-container:hover .review-form-hovered-stars {
  opacity: 1;
}

.review-form-stars-description {
  position: relative;
  margin-left: 10px;
  font-size: 15px;
  height: 32px;
  top: 5px;
}

.review-form-body {
  border: none;
  width: 100%;
  min-height: 250px;
  resize: vertical;
  outline: none;
  height: 300px;
  font-family: 'Bitter', serif;
}

::placeholder {
  color: lightgray;
}

.review-form-error {
  height: 50px;
  color: red;
  font-size: 14px;
  padding-left: 10px;
}

::-webkit-resizer {
  display: none;
}

.review-form-attach-photos {
  margin-top: 50px;
  font-size: 22px;
  font-weight: 900;
}

.review-form-photos-upload {
  margin-top: 10px;
}

.review-form-submit {
  margin-top: 30px;
  width: 200px;
  height: 40px;
  padding: 0;
  margin-bottom: 50px;
  border-radius: 4px;
  background-color: aqua;
  border: aqua;
  color: indigo;
}

.search-business-page {
  
  margin: auto;
}

.search-index-container {
  width: 700px;
  margin: auto;
}
.search-business-page .business-index {
  display: flex;
  flex-direction: column;
  top: 50px;
  position: relative;
  margin: auto;
}

.search-business-page .hot-businesses {
  font-size: 27px;
}

.index-number {
  font-size: 20px;
  font-weight: 900;
  position: relative;
  width: 20px;
  margin: 0;
  display: inline-block;
  left: 250px;
  top: 56px;
}

.search-business-page .business-item-name {
  position: relative;
  left: 20px;
  width: 300px;
}

.search-bar-container {
  width: 500px;
  margin-left: 20px;
}

.search-bar-input {
  width: 430px;
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.search-bar-submit {
  height: 40px;
  background-color: aqua;
  border: 1px solid aqua;
  border-radius: 4px;
}

.logout-button:hover , .demo-login:hover, .login-button:hover{
  background-color: lightgray;
}

.search-business-page .business-index-item:hover {
  box-shadow: 0 0 10px -1px lightgray;
 
}

.header-profile {
  height: 64px;
  min-width: 64px;
  position: relative;
  overflow: hidden;
  /* border: 1px solid black; */
  border-radius: 50%;
  right: 20px;
}

.header-profile img {
  height: 65px;
  width: 65px;
  /* overflow: hidden;
  width: auto;
  display: inline;
  margin: 0 auto; */
}

.splash-container .logout-button:hover , .splash-container .login-button:hover, .splash-container .demo-login:hover{
  background-color: white;
  color: gray;
}

.logout-button {
  min-width: 81px;
  padding: 0px;
}



.splash-container .logout-bar {
  top: 7px;
}

.review-item-photo {
  margin-right: 10px;
  border-radius: 4px;
}

.not-found-header {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 25px;
}
.not-found-container img {
  width: 100%;
  position: absolute;
}