/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

 /* .splash-logo {
   width: 10%;
 } */

.splash-logo-container {
  display: flex;
  justify-content: center;
  top: 100px;
  position: absolute;
  width: 100%;
}

.splash-logo-link{
display: flex;
justify-content: center;
width: 13%;
}

.splash-logo {
  min-width: 175px;
}

.login-page-container {
display: flex;
justify-content: center;
align-items: center;
}

.login-logo-container {
  display: flex;
  justify-content: center;
  top: 0;
  position: absolute;
  background-color: aqua;
  width: 100%;
  height: 10%;
  min-height: 71.19px;
}

.login-logo-link{
display: flex;
justify-content: center;
height: 71.19px;
width: 71.19px;
}

.login-box {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 300px;
}

.login-image {
  max-width: 300px;
  position: relative;
  z-index: -1;
}

.login-box, .login-image {
  top: 120px;
  margin: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-field-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  
  font-size: 14px;
}
.login-input {
  width: 100%;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: rgb(232, 240, 254);
  height: 30px;
}

.login-prompt {
  align-self: center;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 22px;
  
}

.login-button-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.login-button-list button, .logout-bar button {
height: 40px;
font-weight: bold;
min-width: 80px;
border-radius: 4px;
border: 1px solid gray;
background-color: transparent;
}

.login-button-list a, .login-button-list .demo-login, .logout-bar button {
margin-left: 20px;
}

.logout-bar {
  display: flex;
  justify-content: flex-end;
  margin: 16px 30px;
}

.logout-bar div {
  align-self: center;
}

.signup-link button {
  background-color: aqua;
  color: indigo;
  border: 1px solid aqua;
}

.login-signup {
width: 50%;
margin: auto;
}

.login-prompt {
  color: indigo;
}

.session-submit {
  background-color: aqua;
  border: aqua;
  border-radius: 3px;
  min-height: 37px;
  color: indigo;
  font-weight: bold;
  
}

.switch-link {
  color: #0073bb;
  text-decoration: none;
}

.switch-message {
  color: #999;
  align-self: flex-end;
  font-size: 12px;
  margin-top: 8px;
  
}

button:hover {
  cursor: pointer;
}

.errors-list {
  position: absolute;
  list-style: none;
  width: 100%;
  /* left: 0; */
  display: flex;
  justify-content: flex-start;
}

.errors-list li{
  font-size: 13px;
  position: absolute;
  border: 1px solid gray;
  border-radius: 3px ;
  height: 28px;
  background-color: white;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 155px;
}
.username-error {
  left: 0px;
  top: 35px;
}
.email-error{
  left: 0px;
  top: 110px;
}

.password-error {
  width: 320px;
  left: 0px;
  top: 260px;
}

.location-error {
  left: 0px;
  top: 185px;
}

.login-error-container {
  position: absolute;
  display: flex;
  width: 300%;
  justify-content: center;
  align-self: flex-start;
  list-style: none;
  top: -130px;
  left: -155px;
}

.login-error {
  margin: auto;
  background-color: #ffd2d2;
  position: relative;
  height: 50px;
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
  border-radius: 3px;
  font-size: 15px;
}

.frontpage-business-index {
  display: flex;
}

.business-index-list {
  display: flex;
}